@import "tailwindcss";

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  @apply bg-zinc-800 text-white;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

input {
  @apply border border-zinc-600 bg-zinc-900 text-white rounded px-2 py-1;
}

.button {
  @apply min-w-[180px] border border-zinc-600 rounded-lg bg-black text-white rounded px-2 py-1;
}