@import "tailwindcss";

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  @apply bg-zinc-800 text-white;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

button {
  @apply bg-zinc-700 text-white rounded px-4 py-2 hover:bg-zinc-600;
}

input {
  @apply border border-zinc-600 bg-zinc-900 text-white rounded px-2 py-1;
}