@import "tailwindcss";

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  @apply bg-zinc-800 text-white;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}